.container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.popUpContainer {
  background-color: white;
}

form {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .popUpContainer {
    width: 100%;
    height: 100%;
  }
}
