.container {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.popUpContainer {
  background-color: white;
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 500px) {
  .popUpContainer {
    width: 100%;
    height: 100%;
  }
}
