:root {
  --sidebar-width: 240px;
  --text-color: rgb(50, 50, 50);
  --background-color: #ffffff;
  --light-background-color: #f4f4f4;
  --nav-bar-color: #ffffff;
  --selected-color: rgb(229, 241, 253);
  --action-text-color: #ffffff;
  --action-color: rgb(58, 99, 197);
  --border-color: darkgray;
  --border-thickness: 1.5px;
}

* {
  user-select: none;
}

.appContainer {
  display: flex;
  height: 100vh;
}

.mainPanel {
  background-color: var(--background-color);
  border-bottom: var(--border-thickness) solid var(--border-color);
}

.mainPanel > div {
  border-bottom: var(--border-thickness) solid var(--border-color);
}

.sidePanel {
  border-right: var(--border-thickness) solid var(--border-color);
  background-color: var(--background-color);
}

.sidePanel > div {
  border-bottom: var(--border-thickness) solid var(--border-color);
}

.item {
  border-bottom: var(--border-thickness) solid var(--border-color);
}

.item:hover {
  cursor: pointer;
  background-color: var(--selected-color);
}

.--selected {
  background-color: var(--selected-color);
  font-weight: bold;
}

button {
  box-sizing: border-box;
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  height: 50px;
  min-width: 50px;
  font-size: 12pt;
  flex-shrink: 0;
  color: var(--text-color);
  text-align: center;
}

button:hover {
  background-color: var(--selected-color);
  cursor: pointer;
}

img.btnProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

img.btnProfile:hover {
  cursor: pointer;
}

button.btnSave {
  background-color: var(--action-color);
  color: var(--action-text-color);
}

button.btnClose {
  width: 50px;
  font-size: 24pt;
}

button.btnSave:hover {
  background-color: var(--selected-color);
  color: var(--text-color);
  cursor: pointer;
}

.imgProfile {
  width: 50px;
  height: 50px;
}
