.formWrapper {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 30px;
}

.formTitle {
  width: 400px;
  margin: 50px auto 0 auto;
}

.form {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  box-sizing: border-box;
  display: block;
  width: 400px;
  margin-bottom: 30px;
}

input.input,
select.input {
  height: 30px;
  margin-bottom: 10px;
}

label {
  width: 400px;
}

.imageBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgProfile {
  margin-left: 30px;
  margin-right: 30px;
}

.buttonArea {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonArea > button {
  width: 70px;
  height: 40px;
}

h2 {
  width: 350px;
  margin: 0;
  margin-bottom: 30px;
  float: left;
}
