.sidePanel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
}

.noteListWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
