.sidePanel {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  flex-basis: 300px;
  flex-shrink: 0;
}

.noteListWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
